.titulo{
   padding-top: 50px;
   padding-bottom: 10px;
}
.navegacion{
   padding-top: 180px;
   padding-left: 100px;
   width: 30%;
}
.background-form{
   background-color: rgba(17, 19, 24, 0.995);
}
.spacing-container{
   margin-right: 500px;
   margin-left: 500px;
}
.documento{
   margin-left: 40px;
   margin-right: 40px;
   z-index: 1;
}

@media all and (min-width: 576px) and (max-width: 991px) {
   
   .documento{
      margin-left: 100px;
      margin-right: 40px;
   }
}
@media all and (min-width: 992px) and (max-width: 1399px) {
   .titulo{
      padding-top: 80px;
      padding-bottom: 30px;
   }
   .navegacion{
      padding-top: 230px;
      padding-left: 30px;
   }
   .documento{
      margin-left: 270px;
      margin-right: 140px;
   }
}
@media all and (min-width: 1400px) and (max-width: 2800px) {
   .titulo{
      padding-top: 80px;
      padding-bottom: 70px;
   }
   .navegacion{
      padding-top: 270px;
      padding-left: 100px;
   }
   .documento{
      margin-left: 450px;
      margin-right: 280px;
   }
}
